/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/
$height: 100%;

html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	overflow: hidden;
	scroll: none;
} 

#map-canvas {
    height: 100%;
    width: 100%;
}


.slideLink {
	position:relative;
	color:#000;
	text-decoration: none;
	cursor:pointer;

	&:hover {
		color:#000;
	}

	&:before {
		content: "";
		position:absolute;
		width:100%;
		height:1px;
		bottom: 0;
		left: 0;
		background-color: #acbcc9;
		visibility: hidden;
	  	transform: scaleX(0);
	  	transition: all 0.2s ease-in-out 0s;
	}

	&:hover:before {
		font-size:8px;
		content:"edit";
		visibility: visible;
		transform: scaleX(1);
	}

	&.noHint:hover:before {
		content:"";
	}

	&.retrieve:hover:before {
		font-size:8px;
		content:"retrieve";
		transform: scaleX(1);
	}

}

.leftContent {
	height:100%;
	width:100%;
}

.sidebarContent {
    height:90%;
    width:28%;
    position: absolute;
    right: 1%;
    top: 5%;
    background-color: #fff;
    opacity: .9;
    border-radius: 5px;
}

.sidebarSection {
	border-bottom:1px solid black;
	padding: 7px 5px;
	margin: 0 5px;
}

.bold {
	font-weight:bold;
}

.myTreks {
	margin: 0 0 12px 0;
}



#elevation-chart {
    width: 68%;
    height: 15%;
    opacity: .9;
    z-index: 100;
    position: absolute;
    bottom: 5%;
    margin-right: 1%;
    overflow: hidden;
    border-radius: 5px;
}

#elevation-chart.hideChart {
    margin-left: -100%;
}

#elevation-chart.showChart {
    margin-left: 1%;
}

.hideChart {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideout;
}

.showChart {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;
}

@-webkit-keyframes slideout {
    from {
	margin-left: 1%;
    }
    to {
	margin-left: -100%
    }
}

@-webkit-keyframes slidein {
    from {
	margin-left: -100%;
    }
    to {
	margin-left: 1%;
    }
}

#logo {
	height:65px;
	display: block;
}

.profileimg {
	width:60px;
	height:50px;
	border:1px solid black;
	margin: 0 10px 0 0;
	border-radius: 5px;
}

.buttonBlock {
    float:right;
}

button {
	margin:0 5px;
}

.trekList {
	margin:0 0 7px 0;
	max-height:20%;
}

#trekDetails {
    height: 50%;
    border-bottom: none;
}

.legList {
	max-height:$height/3;
	overflow:scroll;
	border:1px solid green;
}

.leg, .trek {
	margin: 20px 0;
}

.legOptions {
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.legOptions div {
	margin:6px 0;
}

#totalDistance {
    border-top: 1px solid black;
    padding: 5px;
    margin: 0 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}