html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

img {
	width:120px;
	height:100px;
	border:1px solid red;
}

button {
	margin:5px;
}

.globalHeader {
	text-align: right;
	margin:5px;
	padding:5px;
}

.wrapper {
	float:left;
	width:100%;
	height:100%;
}

.leftContent,.sidebarContent {
	float:left;
	height:90%;
	margin:10px;
	padding:0;
}

.leftContent {
	width:65%;
}

.sidebarContent {
	width:30%;
	float:right;
}

.sidebarSection {
	margin:5px;
	padding:10px;
	border-bottom:1px solid black;
}

.leg {
	margin: 5px 0;
}

.legOptions {
	padding: 5px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.legOptions div {
	margin:6px 0;
}