html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	overflow: hidden;
	scroll: none;
} 

.wrapper {
	float:left;
	width:100%;
	height:100%;
	padding: 1%;
}

.leftContent,.sidebarContent {
	height:100%;
	padding:0;
}

.leftContent {
        float: left;
	width:68%;
}

.sidebarContent {
	width:28%;
	float:left;
	margin: 0 1%;

}

.sidebarSection {
	border-bottom:1px solid black;
	width:100%;
	padding: 5px;
}

#map-canvas {
	height: 85%;
}

#elevation-chart {
	width: 100%;
	height: 15%;
	padding-left: 1%;
}

#logo {
	height:65px;
	display: block;
}

.profileimg {
	width:60px;
	height:50px;
	border:1px solid black;
}

.buttonBlock {
    float:right;
}

button {
	margin:0 5px;
}

.leg {
	margin: 20px 0;
}

.legOptions {
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.legOptions div {
	margin:6px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}