html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	overflow: hidden;
	scroll: none;
} 

.wrapper {
	float:left;
	width:100%;
	height:100%;
	padding: 1%;
}

.leftContent,.sidebarContent {
	height:100%;
	padding:0;
}

.leftContent {
  float: left;
	width:68%;
}

.sidebarContent {
	width:28%;
	float:left;
	margin: 0 1%;

}

.sidebarSection {
	border-bottom:1px solid black;
	width:100%;
	padding: 5px;
}

#map-canvas.ng-hide {
	height: 95%;
  display: block!important;
}

#map-canvas{
  height: 85%;
}

/*Elevation Chart and chart slide*/
#map-canvas.ng-hide-add,
#map-canvas.ng-hide-remove,
.chart-slide.ng-hide-add,
.chart-slide.ng-hide-remove,
#elevation-chart.ng-hide-add,
#elevation-chart.ng-hide-remove,
#elevation-cover.ng-hide-add,
#elevation-cover.ng-hide-remove {
  display:block!important;
}

#map-canvas.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.5s;
  animation:0.5s;
  transition: .3s linear all;
}

#map-canvas.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.5s;
  animation:0.5s;
  transition: .3s linear all;
}

.chart-slide.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.5s;
  animation:0.5s;
  transition: .3s linear all;
  height: 15%;

}

.chart-slide.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.5s;
  animation:0.5s;
  transition: .3s linear all;
  height: 5%;

}

.chart-slide{
	height: 15%;
	width: 100%;
  border: 5px solid black;
}

.chart-slide.ng-hide {
  height:5%;
  display:block!important;
}

#elevation-chart {
	width: 90%;
	height: 100%;
  border: 2px solid orange;
}

#elevation-cover {
  width: 90%;
  height: 100%;
  border: 2px solid green;
}

#elevation-cover.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.5s slide-up;
  animation:0.5s slide-up;
  transition: .3s linear all;
  height: 100%;

}

#elevation-cover.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation:0.5s slide-down;
  animation:0.5s slide-down;
  transition: .3s linear all;
  height: 0%;

}

#elevat

#logo {
	height:65px;
	display: block;
}

.profileimg {
	width:60px;
	height:50px;
	border:1px solid black;
}

.buttonBlock {
    float:right;
}

button {
	margin:0 5px;
}

#trekDetails {
    height: 50%;
}

#legList {
    max-height: 95%;
    width: 100%;
    overflow:auto;
}

.leg {
	margin: 20px 0;
}

.legOptions {
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid gray;
	border-radius: 5px;
}

.legOptions div {
	margin:6px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
